.banner {
  width: 100%;
  background-color: var(--text-logo-light-color);
  position: relative;
}
.banner_container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.banner_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner_left h1 {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  padding-top: 50px;
  letter-spacing: 1px;
}
.banner_btn {
  margin-top: 20px;
  margin-bottom: 50px;
}
.banner_btn button {
  font-size: 15px;
  font-weight: 700;
  padding: 12px 20px;
  letter-spacing: 0.3px;
  color: var(--text-logo-light-color);
  border-radius: 10px;
  background-color: var(--bg-white-color);
  border: 2px solid var(--text-logo-light-color);
  cursor: pointer;
  transition: all 0.2s;
}
.banner_btn button:hover {
  background-color: var(--text-logo-dark-color);
  color: var(--bg-white-color);
}
.banner_right {
  width: 100%;
}
.banner_img {
  width: 100%;
  padding: 0;
  margin: 0;
}
.banner_img img {
  width: 400px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 5%;
}
@media only screen and (max-width: 700px) {
  .banner_container {
    display: flex;
    flex-direction: column;
  }
  .banner_img {
    display: none;
  }
}
