.intro {
  width: 100%;
  padding: 120px 0;
}
.intro_container {
  display: grid;
  grid-template-columns: 4fr 5fr;
  width: 90%;
  margin: auto;
}
.intro_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro_img {
  width: 95%;
}
.intro_img img {
  width: 100%;
}
.intro_right {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro_content h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-logo-light-color);
  margin-bottom: 20px;
}
.intro_content h1 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: var(--text-primary-color);
}
.intro_content hr {
  border: none;
  height: 3px;
  background-color: var(--text-logo-light-color);
  width: 20%;
  margin: 20px 0;
}
.intro_content p {
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: var(--text-secondary-color);
}
.intro_content ul li {
  list-style-type: circle;
  list-style-position: inside;
  color: var(--text-secondary-color);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
@media only screen and (max-width: 850px) {
  .intro {
    width: 100%;
    padding: 70px 0;
  }
  .intro_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .intro_img {
    width: 80%;
    margin-bottom: 50px;
  }
}
