.nav {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 99;
}
.nav_container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_logo {
  flex: 1;
  text-align: left;
}
.nav_logo img {
  width: 120px;
}
.nav_bar {
  flex: 2;
  display: flex;
  flex-direction: row;
}
.nav_bar > a,
.nav_services_dropdown > p,
.nav_services_dropdown > a {
  text-decoration: none;
  color: var(--text-primary-color);
  font-size: 18px;
  margin-right: 50px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.nav_bar > a:after {
  content: '';
  height: 2px;
  background-color: var(--text-logo-light-color);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  opacity: 0;
  transform-origin: left center;
  transform: scaleX(0);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav_bar > a:hover:after {
  transform: scaleX(1);
  opacity: 1;
}
.nav_services_dropdown {
  position: relative;
}
.nav_service_item {
  display: none;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  z-index: 999;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
}
.nav_service_item > a {
  text-decoration: none;
  color: var(--text-primary-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  white-space: nowrap;
}
.nav_service_item a:hover {
  color: var(--text-logo-light-color);
}
.nav_services_dropdown p:hover ~ .nav_service_item,
.nav_services_dropdown .nav_service_item:hover {
  opacity: 1;
  display: flex;
}
.nav_contact {
  flex: 1;
  text-align: right;
}
.nav_contact a {
  text-decoration: none;
  color: var(--text-logo-light-color);
  border: 3px solid var(--text-logo-light-color);
  border-radius: 50px;
  padding: 12px 25px;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s;
}
.nav_contact a:hover {
  background-color: var(--text-logo-dark-color);
  color: #ffffff;
  border-color: var(--text-logo-dark-color);
}

.nav_mobile_display {
  width: 100%;
  height: 100%;
  display: none;
}
@media only screen and (max-width: 700px) {
  .nav_container {
    display: none;
  }
  .nav_mobile_display {
    display: block;
  }
}
