:root {
  --text-primary-color: #222222;
  --text-secondary-color: #3d3d3d;
  --text-logo-light-color: #009b81;
  --text-logo-dark-color: #016b59;
  --bg-grey-color: #eeeeee;
  --bg-white-color: #ffffff;
  --bg-dark-color: #014065;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Urbanist', sans-serif;
}
a {
  text-decoration: none;
}
